aiohttp==3.7.4
alabaster==0.7.12
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.2.0
Babel==2.9.1
buttons==0.1.9
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.4
cryptography==3.3.2
discord==1.0.1
discord.py==1.5.1
distlib==0.3.1
docutils==0.16
filelock==3.0.12
future==0.18.2
idna==2.8
imagesize==1.2.0
mock==4.0.1
multidict==4.7.6
mutf8==1.0.2
packaging==20.4
pluggy==0.13.1
py==1.10.0
pycparser==2.20
Pygments==2.7.4
PyNBT==3.1.0
pyparsing==2.4.7
pytz==2020.1
requests==2.22.0
six==1.15.0
snowballstemmer==2.0.0
toml==0.10.1
tox==3.14.3
urllib3==1.26.5
virtualenv==20.1.0
websockets==9.1
yarl==1.5.1
